.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#f06161, #f50505);
  transition: 0.3s;
  border: 1px solid #f90303;
  text-align: center;
}

.btn-gradient:hover {
  background: linear-gradient(#f06161, #f50505);
  color: white;
}
